{% extends 'Index.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Error al actualizar Marca!
        </div>
    {% endif %}

    <h1>Actualizacion de Marcas</h1>

    <form action="{% url 'actualizarmarca' marca.id %}" method="POST">
        {% csrf_token %}
        {% if mensaje %}
            <div class="alert alert-success" role="alert">
            Marca Actualizada Exitosamente!
            </div>
        {% endif %}

        {{ form|crispy}}

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-warning" href="{% url 'listarMarca' %}">Cancelar</a>


    </form>
{% endblock %}